@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<h1>Create Category Form</h1>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post" role="form" class="form-control-static" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo">Name</label>
                    <input asp-for="Photo"  class="form-control" id="exampleInputEmail1" placeholder="Name">
                    <span class="text-danger" asp-validation-for="Photo"></span>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Submit</button>
                <button type="submit" class="btn btn-link">Cancel</button>
            </form>
        </div>
    </div>
</div>
@section Scripts{
    <partial name="_ValidationPartial" />
}

